{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Заголовок страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">

    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js">
    </script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js">
    </script>
    
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<div id="cent-data"
        data-cent-url="{{ CENTRIFUGE_SOCKJS_ENDPOINT }}"
        data-cent-user=""
        data-cent-ts="{{ CENTRIFUGE_TIMESTAMP }}"
        data-cent-info="{{ CENTRIFUGE_INFO }}"
        data-cent-token="{{ CENTRIFUGE_TOKEN }}"
        data-cent-channel="channel"
        >
</div>
<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    {#<div class="off-canvas position-left" id="id-offcanvas">#}
        <div class="medium-2 column" data-sticky-container id="id-menu-container">
            <div class="menu-style sticky" id="id-menu">
            {% block menu %}
                <ul class="menu vertical">
                    <li class="menu-text">Site menu</li>
                    <li><a href="#"><i class="fi-layout"></i> {% trans "Profile" %}</a></li>
                    <li><a href="#"><i class="fi-comments"></i> {% trans "Messages" %}</a></li>
                    <li><a href="#"><i class="fi-results-demographics"></i> {% trans "Groups" %}</a></li>
                    <li><a href="#"><i class="fi-camera"></i> {% trans "Photos" %}</a></li>
                </ul>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" />
            </form>
            {% endblock %}
            </div>
        </div>
    {#</div>#}

    <div class="menu-style" data-responsive-toggle="site-menu" data-hide-for="medium">
        <div data-sticky-container>
            <div class="title-bar" data-sticky data-sticky-on="small" data-margin-top=0 style="width:100%" >
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title" data-toggle="id-offcanvas">Menu</div>
            </div>
        </div>
    </div>
    
    <div class="off-canvas-content" data-off-anvas-content>
        <div class="medium-10 column content-style" id="id-content">
                {% block content %}
                {% endblock %}
        </div>
    </div>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
    <script src="/static/base.js"></script>
</body>
</html>
