{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Заголовок страницы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">

    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js">
    </script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js">
    </script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="off-canvas position-left" id="id-off-canvas" data-off-canvas>
        <ul class="menu vertical">
            <li>Hello</li>
            <li>I am</li>
            <li>Off-Canvas!</li>
        </ul>
    </div>
    
    <div class="off-canvas-content" data-off-canvas-content>
        

<div id="cent-data"
        data-cent-url="{{ CENTRIFUGE_SOCKJS_ENDPOINT }}"
        data-cent-user=""
        data-cent-ts="{{ CENTRIFUGE_TIMESTAMP }}"
        data-cent-info="{{ CENTRIFUGE_INFO }}"
        data-cent-token="{{ CENTRIFUGE_TOKEN }}"
        data-cent-channel="channel"
        >
</div>




    <!--<div class="menu-style" data-responsive-toggle="site-menu" data-hide-for="medium"}>-->
        <div data-sticky-container>
            <div class="title-bar hide-for-medium" id='id-top' data-sticky data-margin-top=0 data-sticky-on="small" style="width:100%" >
                <button class="menu-icon" type="button" data-open="id-off-canvas"{#"id-offcanvas"#}></button>
                    <div class="title-bar-title" >Menu</div>
            </div>
        </div>
        <!--</div>-->


    {#<div class="off-canvas position-left" id="id-offcanvas">#}
        <div class="medium-2 column" data-sticky-container id="id-menu-container">
            <div class="menu-style" id="id-menu" data-sticky data-margin-top=0 data-top-anchor="id-menu-container">
            {% block menu %}
                <ul class="menu vertical">
                    <li class="menu-text">Site menu</li>
                    <li><a href="#"><i class="fi-layout"></i> {% trans "Profile" %}</a></li>
                    <li><a href="#"><i class="fi-comments"></i> {% trans "Messages" %}</a></li>
                    <li><a href="#"><i class="fi-results-demographics"></i> {% trans "Groups" %}</a></li>
                    <li><a href="#"><i class="fi-camera"></i> {% trans "Photos" %}</a></li>
                </ul>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" />
            </form>
            {% endblock %}
            </div>
        </div>
    {#</div>#}


        <div class="medium-10 column content-style" id="id-content">
                {% block content %}
                {% endblock %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
    <script src="/static/base.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>
